[Unit]
Description=Sensor for CPU temp
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/dev/CPUTempSensor/cputempsensor.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
